apiVersion: v1
kind: ConfigMap
metadata:
  name: recipes-nginx-config
  namespace: recipes
data:
  nginx.conf: |
    events {
      worker_connections 1024;
    }
    http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;
      sendfile on;
      keepalive_timeout 65;
      server {
        listen 80;
        server_name _;
        location /static {
          alias /static;
        }
        location /media {
          alias /media;
        }
      }
    }

