apiVersion: apps/v1
kind: Deployment
metadata:
  name: commafeed
spec:
  replicas: 1
  selector:
    matchLabels:
      app: commafeed

  template:
    metadata:
      labels:
        app: commafeed
    spec:
      containers:
        - name: commafeed
          image: athou/commafeed:5.7.0-h2
          securityContext:
            allowPrivilegeEscalation: false
          env:
            - name: COMMAFEED_ALLOW_REGISTRATION
              value: "true"
          # envFrom:
          #   - configMapRef:
          #       name: commafeed-configmap
          #   - secretRef:
          #       name: commafeed-container-env
          ports:
            - containerPort: 8082
              protocol: TCP
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 1000m
              memory: 256Mi
      restartPolicy: Always
